<html>
<body>
    <div id="messages">
        {% block messages %}
        {% if messages %}
        {% for message in messages %}
        <p class="message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endblock %}
    </div>

    <form action="" method="post">{% csrf_token %}
        <input type="submit" value="Pick random number" />
    </form>
    <button><a href="">Refresh log</a></button>

    {% if log %}
    <pre id="log" style="border: 1px solid #ccc; width: 800px; height: 400px; overflow: scroll;">
    {{ log }}
    </pre>
    {% endif %}

    {% if task_id %}
    <p>Triggered task {{ task_id }} to pick a new random number.</p>
    {% endif %}

    <script>
        var log = document.getElementById('log');
        log.scrollTop = log.scrollHeight;
    </script>

</body>
</html>
